/*==============================
        TABLET
===============================*/

@media (max-width:992px){

.hero-container{

    grid-template-columns:1fr;

    gap:60px;

    text-align:center;

}

.hero-content p{

    margin:auto;

}

.hero-buttons{

    justify-content:center;

}

.about-grid{

    grid-template-columns:1fr;

}

.services-grid{

    grid-template-columns:repeat(2,1fr);

}

.gallery-grid{

    grid-template-columns:repeat(2,1fr);

}

.articles-grid{

    grid-template-columns:1fr;

}

.contact-grid{

    grid-template-columns:1fr;

}

}


/*==============================
        MOBILE
===============================*/

@media (max-width:768px){

.container{

    width:92%;

}

.section-title h2{

    font-size:32px;

}

.hero{

    padding-top:140px;

}

.hero-content h1{

    font-size:42px;

}

.hero-image img{

    width:100%;

}

.services-grid{

    grid-template-columns:1fr;

}

.gallery-grid{

    grid-template-columns:1fr;

}

.stats-grid{

    grid-template-columns:repeat(2,1fr);

}

.footer-links{

    flex-direction:column;

    gap:15px;

}

}@media(max-width:768px){

.hero-buttons{

    flex-direction:column;

}

.btn-primary,
.btn-secondary{

    width:100%;

}

}

.whatsapp-float{

    right:20px;

    bottom:20px;

}

.consult-float{

    left:20px;

    bottom:20px;

    padding:14px 18px;

    font-size:14px;

}